@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 73%, rgba(226,225,218,1) 98%, rgba(226,225,218,1) 100%);
}

@layer components {
  .gradient-section-landing {
    background: radial-gradient(circle, rgba(255,240,100,0.6419161414565826) 11%, rgba(255,240,100,0.20214023109243695) 44%, rgba(255,255,255,0) 68%);
  }

  .bg-gradient-general-landing {
    color: white;
    background: rgb(128,0,128);
    background: linear-gradient(125deg, rgba(128,0,128,1) 44%, rgba(255,0,102,1) 74%);
  }

}
